.app-container {
    display: flex;
    justify-content: space-between;
}

.iframe-container {
    width: 100%;
}

.iframe {
  height: 100%;
  min-height: 1000px;
  width: 100%;
}

table, th, td {
    border: 1px solid black;
}
