.app-container {
    display: flex;
    justify-content: space-between;
}

.iframe-container {
    width: 100%;
}

.iframe {
  height: 100%;
  min-height: 1000px;
  width: 100%;
}

table, th, td {
    border: 1px solid black;
}

.scrollTest {
	width: 300px;
	height: 300px;
	overflow: scroll;
}

.scrollTest div {
	width: 500px;
	height: 100px;
	background: black;
}